.modal-user {
    .content-body {
        .red {
            border: none;
            color: red;
        }
    }
}

.manage-users-container {
    i {
        padding-right: 7px
    }

    .actions {
        .refresh {
            margin-right: 10px;
        }
    }
}